<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="cs.ucy.ac.cy.osslicense.model.editor.LicenseModelEditor"
            default="true"
            extensions="ttl"
            icon="assets/Open-source-icon-16x16.jpg"
            id="cs.ucy.ac.cy.osslicense.model.editor.LicenseModelEditor"
            name="License Model Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
   </extension>
   <extension
         point="org.eclipse.ui.menus">
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="cs.ucy.ac.cy.osslicense.model.editor.LicenseModelCategory"
            name="License Model Editor">
      </category>
      <wizard
            category="cs.ucy.ac.cy.osslicense.model.editor.LicenseModelCategory"
            class="cs.ucy.ac.cy.osslicense.model.editor.wizard.LicenseModelWizard"
            icon="assets/Open-source-icon-16x16.jpg"
            id="cs.ucy.ac.cy.osslicense.model.editor.LicenseModelWizard"
            name="License Model ">
      </wizard>
   </extension>

</plugin>
